<h1>{{titulo}}</h1>
<br />
<br />
<input type="text" #nomeInput class="nomeInput1" (keyup.enter)="adicionar(nomeInput)">
<button type="submit" (click)="adicionar(nomeInput)">Adicionar</button>
<br />
<div *ngFor="let tarefa of tarefas.slice(1)">
  <span>{{ tarefa.tarefa }}</span>
  <button (click)="editar(tarefa)">Editar</button>
  <button (click)="remover(tarefa)">Remover</button>
</div>
<div [style]="display" (keyup.escape)="cancelar()">
  <input type="text" placeholder="Novo texto" class="novoTexto" #nome2 [value]="valor" (keyup.enter)="salvar(nome2.value)">
  <input type="text" [value]="indiceSelecionado" style="display: none">
  <button type="submit" (click)="salvar(nome2.value)">Salvar</button>
  <button type="submit" (click)="cancelar()">Cancelar</button>
</div>
